<hr>
<h1>Lista de series</h1>
<hr>
<div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let serie of series ; let i= index" [ngClass]="{'estreno': serie.anio ==anio}">
        <img [src]="serie.image" class="card-img-top tamano img-thumbnail" [alt]="serie.titulo">
        <div class="card-body">
            <h5 class="card-title"> {{ serie.titulo }}</h5>
            <p class="card-text"> {{ serie.genero }}</p>
            <p class="card-text">{{ serie.anio }}</p>
            <p class="card-text plat">{{ serie.plataforma }}</p>

            <span class="badge badge-dark" *ngIf="serie.anio > anio">NO DISPONIBLE</span>
            <span class="badge badge-warning" *ngIf="serie.anio == anio">ESTRENO</span>
            <hr>

            <button (click)="agregarfavorito(serie)" type="button" class="btn btn-outline-warning btn-block">
                agregar a favoritos
            </button>
            <hr>
            <button (click)="verSerie(i)" type="button" class="btn btn-outline-primary btn-block">
                ver más...
            </button>
            <!--- <a [routerLink]="['/serie', i ]" class="btn btn-outline-primary">Ver mas link...</a>
             -->
        </div>
    </div>

</div>