<h1>Noticias</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, placeat exercitationem molestias a illum neque aliquam, nostrum nulla, maxime voluptatibus fugiat velit suscipit nemo natus officia amet consequuntur porro ratione.</p>
<div class="container-img row">
    <div class="col-4">
        <img [src]="'/assets/img/netflix.jpg'" class="card-img-top tamano img-thumbnail" [alt]="">
    </div>
    <div class="col-4"><img [src]="'/assets/img/disney.jpg'" class="card-img-top tamano img-thumbnail" [alt]="">
    </div>
    <div class="col-4"><img [src]="'/assets/img/prime.jpg'" class="card-img-top tamano img-thumbnail" [alt]="">
    </div>
</div>