<hr>
<h2>Tus Favoritas</h2>
<hr>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Vikings</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur esse nisi dicta veritatis illo molestias rem obcaecati provident mollitia natus? Fugit incidunt voluptatem dicta delectus eos adipisci enim totam numquam?</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>