<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><img src="assets/img/logo2.png" width="30" height="30" alt="" loading="lazy"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <h2>World Series</h2>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estrenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mas vistos</a>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="container ">
        <div class="row ">
            <div class="col-8 ">
                <app-serie-list></app-serie-list>
            </div>
            <div class="col 4 ">
                <app-serie-favoritas></app-serie-favoritas>
            </div>
        </div>
    </div>
    <footer class="footer bg-light text-center ">
        <div>
            &copy;{{title}} {{anio}}
        </div>
    </footer>