<hr>
<h2> Favoritos</h2>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Año</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info" *ngFor="let serie of favoriteList,index as id">
            <th scope="row">{{ id+ 1}}</th>
            <td> {{serie.titulo}} </td>
            <td> {{serie.plataforma}} </td>
            <td> {{serie.anio}} </td>
        </tr>
    </tbody>
</table>